body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom right, #002029, #32004f);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.container {
    width: 50%;
    margin: auto;
    background-color: #ebffcb;
    padding: 20px;
    margin-top: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    text-align: center;
}

label {
    font-size: 16px;
    color: #333;
}

textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

input[type="submit"] {
    background-color: #0025fa;
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

input[type="submit"]:hover {
    background-color: #00c00a;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

/* Responsive design for smaller screens */
@media screen and (max-width: 600px) {
    .container {
        width: 80%;
    }
}
